@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');
@media only screen and (min-width: 1300px){

    header, footer{
        display: inline-block;
        width: 2000px;
        height: 350px;
        background-color: #d3e5e5;
        padding: 10px;
        font-family: 'Figtree', sans-serif;
    }

    footer{
        margin-top: 100px;
    }

    .logo-top{
        margin-right: 1300px;
    }

    .logo-bottom{
        margin-right: 1300px;
    }
    
    .slogan{
        margin-top: -190px;
    }

    main .left-column{        
        font-family: 'Figtree', sans-serif;
        display: inline-block;
        margin-right: 30px;
    }

    .weather, .event, .join, .no-events{
        width: 430px;
        height: 320px;
        padding: 20px;
        display: block;
        background-color: #785964;
        color: #eedfd3;
    }

    .nh-park, .tam-park, .bowlero, .restaurant, .fear{
        background-color: #d3e5e5;
        width: 630px;
        height: 600px;
        padding: 20px;
        font-family: 'Figtree', sans-serif;
        margin: 0 auto;
        margin-top: 25px;
        text-align: center;
        display: block;
    }

    .weather img, .event img{
        width: 170px;
        height: 100px;
    }

    main img{
        width: 400px;
        height: 330px
    }

    main .middle-column, main h1{
        font-family: 'Figtree', sans-serif;
        display: inline-block;
    }

    .middle-column img{
        width: 920px;
        height: 700px;
    }

    .mascot-and-sitename-row1{
        display: block;
    }

    .join-button{
        width: 150px;
        height: 50px;
        margin-top: 70px;
        background-color: #eedfd3
    }

    .spotlight1 img{
        width: 200px;
        height: 130px;
    }

    .spotlight2 img{
        width: 130px;
        height: 130px;
        margin-top: -5px;
    }

    .spotlight1 h2, p, a, .spotlight2 h2, p, a, .spotlight3 h2, p, a{
        margin-top: 10px;
    }

    .spotlight3 img{
        width: 150px;
        height: 110px;
    }

    .news{
        width: 880px;   
        height: 320px;
        display: block;
        background-color: #785964;
        padding: 20px;
        color: #eedfd3
    }

    .spotlight1, .spotlight2, .spotlight3{
        width: 430px;
        height: 320px;
        padding: 20px;
        display: block;
        border-color: #d3e5e5;
        border-style: solid;
        border-width: 30px;
        background-color: #785964;
        color: #eedfd3
    }

    main ul input{
        width: 20%;
        padding: 5px 18px;
        margin: 5px 0;
        font-family: 'Figtree', sans-serif;
        border-radius: 3px;
    }

    main textarea{
        margin-top: 20px;
        font-family: 'Figtree', sans-serif;
    }

    main .right-column{
        font-family: 'Figtree', sans-serif;
        display: inline-block;
        margin-left: 30px;
    }

    img {
        width: 250px;
        height: 250px;
    }

    .socialmedialinks{
        float: right;
        margin-top: -20px;
        margin-right: 30px;
    }

    .socialmedialinks img{
        width: 50px;
        height: 50px;
    }

    .primaryNav {
		display: flex;
        margin-top: 90px;
	}
	.primaryNav li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.primaryNav a {
		text-align: center;
	}
	.primaryNav li:first-child {
		display: none;
	}
    
    .footer{
        margin-top: -250px;
    }

    #location{
        font-size: medium;
        color: black;
    }

    .footer-bottom{
        font-size: medium;
    }

    #date{
        font-size: large;
        font-weight: 600;
        color: black;
        text-align: center;
    }

    #temp, #speed{
        display: inline-block;
    }

}