@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');

header, footer{
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #d3e5e5;
    font-family: 'Figtree', sans-serif;
    padding: 10px;
    font-size: 12px;
}

img {
    width: 50%;
    margin-top: 20px;
}

.socialmedialinks{
    float: right;
    margin-top: -15px;
    margin-right: 30px;
}

.socialmedialinks img{
    width: 40px;
    height: 40px;
}

.event, .weather, .no-events{
    font-family: 'Figtree', sans-serif;
    display: inline-block;
    margin: 0 auto;
    width: 400px;
    height: 300px;
    padding: 20px;
    background-color: #dac9d1;
    color: #785964;
    margin-top: 30px;
}

.weather img, .event img{
    width: 170px;
    height: 100px;
}

.nh-park, .tam-park, .bowlero, .restaurant, .fear{
    background-color: #d3e5e5;
    width: 380px;
    height: 530px;
    padding: 20px;
    font-family: 'Figtree', sans-serif;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
    display: block;
}

main h1{
    font-family: 'Figtree', sans-serif;
}

.join{
    font-family: 'Figtree', sans-serif;
    display: inline-block;
    width: 400px;
    height: 220px;
    background-color: #dac9d1;
    padding: 20px;
    color: #785964;
    margin-top: 30px;
}

main ul input{
    width: 20%;
    padding: 5px 18px;
    margin: 5px 0;
    font-family: 'Figtree', sans-serif;
    border-radius: 3px;
}

.thankyou, .contact_info, .fill_out{
    font-family: 'Figtree', sans-serif;
}

main textarea{
    margin-top: 20px;
    font-family: 'Figtree', sans-serif;
}

.join-button{
    width: 150px;
    height: 50px;
    margin-top: 70px;
    background-color: #dac9d1;
}

.mascot-and-sitename{
    font-family: 'Figtree', sans-serif;
    display: inline-block;
    width: 400px;
    height: 600px;
    background-color: #dac9d1;
    margin-top: 30px;
}

.news{
    font-family: 'Figtree', sans-serif;
    display: inline-block;
    width: 400px;
    height: 450px;
    background-color: #dac9d1;
    padding: 20px;
    color: #785964;
}

.spotlight1{
    font-family: 'Figtree', sans-serif;
    display: inline-block;
    width: 400px;
    height: 500px;
    padding: 20px;
    border-color: #d3e5e5;
    border-style: solid;
    border-width: 20px;
    color: #785964;
    background-color: #dac9d1;
}

.spotlight2{
    font-family: 'Figtree', sans-serif;
    display: inline-block;
    width: 400px;
    height: 500px;
    padding: 20px;
    border-color: #d3e5e5;
    border-style: solid;
    border-width: 20px;
    color: #785964;
    background-color: #dac9d1;
}

.spotlight3{
    font-family: 'Figtree', sans-serif;
    display: inline-block;
    width: 400px;
    height: 500px;
    padding: 20px;
    border-color: #d3e5e5;
    border-style: solid;
    border-width: 20px;
    color: #785964;
    background-color: #dac9d1;
}

.join-button{
    width: 150px;
    height: 50px;
    margin-top: 70px;
    background-color: #eedfd3
}

.spotlight1 img, .spotlight2 img, .spotlight3 img{
    width: 35%;
    height: 20%;
}

.spotlight3{display:none}

.primaryNav {
    display: flex;
}

.primaryNav li:first-child {
	display: block;
}
.primaryNav li {
	display: none;
}

nav ul li a:hover{
    background-color: whitesmoke;
}

.open li {
	display: block;
}

.open #menu::before {
	content: "X";
}

#menu::before {
	content: "≡";
	font-size: 2rem;
}

.primaryNav {
	list-style: none;
	margin: 0;
	padding: 0;
    margin-top: 70px;
}

.primaryNav li {
	display: none;
}

.primaryNav a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

main .middle-column{
    font-family: 'Figtree', sans-serif;
}

main .right-column{
    font-family: 'Figtree', sans-serif;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
}

.middle-column img{
    width: 455px;
    height: 365px;
}

.primaryNav a:hover, .primaryNav a:active {
	color: white;
	background-color: black;
}

.open li {
	display: block;
}

.open #menu::before {
	content: "X";
}

.footer-bottom{
    font-size: medium;
}

.grid .cards{
    background-color: #eedfd3;
    margin: 0 auto;
    font-family: 'Figtree', sans-serif;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.grid img{
    width: 25%;
    height: 25%;
}

#date{
    font-size: large;
    font-weight: 600;
    color: black;
    text-align: center;
}

#temp, #speed{
    display: inline-block;
}

.list .cards{
    font-family: 'Figtree', sans-serif;
    margin-top: 30px;
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 20px;
}

.list section{
    display: list-item;
}

.list img{
    display: none;
}

button{
    margin-top: 20px;
    width: 40px;
    height: 30px;
}

#submitBtn{
    width: 60px;
}



