body{
    text-align: center;
    background-color: #f1fffa;
}

.event{
    width: 430px;
    height: 320px;
    padding: 20px;
    background-color: #785964;
    color: #eedfd3;
    display: none;
}

.no-events{
    width: 430px;
    height: 320px;
    padding: 20px;
    background-color: #785964;
    color: #eedfd3;   
}