@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');
@media only screen and (min-width: 400px) and (max-width: 560px){

    header{
        display: inline-block;
        width: 1000px;
        height: 240px;
        background-color: #d3e5e5;
        padding: 15px;
        font-family: 'Figtree', sans-serif;
    }

    footer{
        display: inline-block;
        width: 1000px;
        height: 240px;
        background-color: #d3e5e5;
        padding: 15px;
        font-family: 'Figtree', sans-serif;
    }

    header h1, header h2{
       margin-left: 250px;
       font-size: 30px;
    }

    main h1{
        font-family: 'Figtree', sans-serif;
    }

    footer{
        margin-top: 100px;
    }

    .logo-top{
        margin-right: 1300px;
        margin-top: 10px;
    }

    .logo-bottom{
        margin-right: 1300px;
    }
    
    .slogan{
        margin-top: -190px;
    }

    main ul input{
        width: 20%;
        padding: 5px 18px;
        margin: 5px 0;
        font-family: 'Figtree', sans-serif;
        border-radius: 3px;
    }

    .thankyou{
        font-family: 'Figtree', sans-serif;
    }

    main textarea{
        margin-top: 20px;
        font-family: 'Figtree', sans-serif;
    }

    .event, .weather, .no-events{
        font-family: 'Figtree', sans-serif;
        display: inline-block;
        width: 400px;
        height: 320px;
        padding: 20px;
        background-color: #dac9d1;
        color: #785964;
        margin-top: 30px;
    }

    .join{
        font-family: 'Figtree', sans-serif;
        display: inline-block;
        width: 850px;
        height: 300px;
        padding: 20px;
        background-color: #dac9d1;
        margin-top: 30px;
    }

    .news{
        font-family: 'Figtree', sans-serif;
        display: inline-block;
        width: 700px;
        height: 300px;
        background-color: #dac9d1;
        margin-top: 30px;
    }

    .nh-park, .tam-park, .bowlero, .restaurant, .fear{
        background-color: #d3e5e5;
        width: 430px;
        height: 500px;
        padding: 20px;
        font-family: 'Figtree', sans-serif;
        margin: 0 auto;
        margin-top: 25px;
        text-align: center;
        display: block;
    }

    .spotlight1, .spotlight2, .spotlight3{
        font-family: 'Figtree', sans-serif;
        display: inline-block;
        width: 530px;
        height: 430px;
        border-color: #d3e5e5;
        border-style: solid;
        border-width: 20px;
        background-color: #dac9d1;
        color: #785964;
    }

    .join-button{
        width: 150px;
        height: 50px;
        margin-top: 70px;
        background-color: #eedfd3
    }

    .spotlight1 img, .spotlight2 img, .spotlight3 img{
        width: 40%;
    }

    .news h2 {
        margin-left: 30px;
    }

    .spotlight1 h2, .spotlight2 h2, .spotlight3 h2{
        margin-left: -15px
    }

    .spotlight2 p, .spotlight2 h4{
        margin-bottom: -7px;
    }

    .event h2, .weather h2{
        margin-left: -15px
    }

    .weather h2, .weather p{
        margin-top: 5px;
    }

    header img{
        width: 200px;
        height: 200px;
    }

    footer img{
        width: 200px;
        height: 200px;
    }

    .socialmedialinks{
        float: right;
        margin-top: -5px;
        margin-right: 30px;
    }

    .socialmedialinks img{
        width: 50px;
        height: 50px;
    }

    .primaryNav {
        display: flex;
    }

    .primaryNav li:first-child {
        display: block;
    }

    .primaryNav li {
        display: none;
    }

    nav ul li a:hover{
        background-color: whitesmoke;
    }

    .open li {
        display: block;
    }

    .mascot-and-sitename-row1{
        display: inline-flex;
    }

    .open #menu::before {
        content: "X";
    }

    #menu::before {
        content: "≡";
        font-size: 2rem;
    }

    .primaryNav {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .primaryNav li {
        display: none;
    }
    .primaryNav a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: black;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }

    .primaryNav a:hover, .primaryNav a:active {
        color: white;
        background-color: black;
    }

    .middle-column img{
        width: 720px;
        height: 600px;
    }

    .open li {
        display: block;
    }

    .open #menu::before {
        content: "X";
    }

    .footer{
        margin-top: -220px;
    }

    #location{
        font-size: medium;
        color: black;
    }

    .footer-bottom{
        font-size: medium;
    }

    #date{
        font-size: large;
        font-weight: 600;
        color: black;
        text-align: center;
    }

    #temp, #speed{
        display: inline-block;
    }

    .grid .cards{
        background-color: #eedfd3;
        font-family: 'Figtree', sans-serif;
        /* margin-top: 100px;
        width: 300px; */
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 20px;
        justify-items: center;
    }

    .grid img{
        width: 45%;
        height: 30%;
    }

    .list .cards{
        font-family: 'Figtree', sans-serif;
        margin-top: 20px;
        padding: 60px;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        grid-gap: 20px;
    }

    .list section{
        display: list-item;
    }

    .list img{
        display: none;
    }

    button{
        margin-top: 20px;
        width: 50px;
        height: 30px;
    }

    #submitBtn {
        width: 60px;
    }
}

