table{
    margin: 10px auto;
    border-collapse: collapse;
}

caption{
    padding: 5px;
    caption-side: bottom;
    font-size: .9rem;
}

blanc-col{
    background-color: black;
}

tr:first-child th{
    background-color:black;
    color: white;
}

tr th[scope=blancol]{
    background-color: black;
    color: white;
}

th[scope=col1], th[scope=col2], th[scope=col3]{
    background-color: rgb(72, 72, 72);
    color: white
}

th, td{
    padding: 9px 22px;
    border: 1px solid black;
}

tr[scope=row2]{
    background-color: rgb(236, 236, 236);
}

td {
    text-align: center;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}