[class*="col-"] {
    width: 100%;
  }

  .target-audience{
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    width: 450px;
    height: 230px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #454545;
    background-color: #b1d1d3
}

.nav-bar{
    display: flex;
    text-align: center;
    background-color: #d3e5e5; 
}

a{
    display: flex;
    text-align: center;
    color: #454545;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    text-decoration: none;
    text-align: center;
    color: #454545;
}

.nav-bar a:hover, .font-links a:hover{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: #eedfd3;
    color: #454545;
    width: 100px;
}

.font-links{
    margin-top: 30px;
}

.nav-bar, .font-links{
    display: flex;
    text-align: center;
    background-color: #d3e5e5; 
}

.intro, .design{
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
    width: 450px;
    height: 230px;
    padding: 10px;
    text-align: center;
    color: #454545;
    background-color: #b1d1d3
}

.personas img{
    display: inline-block;
    height: 530px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

main img{
    display: inline-block;
    height: 530px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3{
    font-family: 'Pontano Sans', sans-serif;
    text-align: center;
}

footer{
    font-family: 'Gudea', sans-serif;
    text-align: center;
}

a, p{
    font-family: 'Sarala', sans-serif;
    font-size: large;
}

.personas img{
    display: inline-block;
    height: 230px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

main img{
    display: inline-block;
    height: 130px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.personas{
    display: inline-block;
    width: 400px;
    height: 50px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: #454545;
    background-color: #eedfd3;
}

.purpose{
    display: inline-block;
    width: 400px;
    height: 200px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    color: #785964;
    background-color: #eedfd3;
}

main .hank-hardware-owner{
    display: inline-block;
    background-color: #785964;
    color: #d5c7bc;
    border-radius: 20px;
    margin-top: 50px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
    height: 430px;
}

main .julie-restauranteur{
    display: inline-block;
    background-color: #785964;
    color: #eedfd3;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
    height: 450px;
}

.scenarios{
    display: inline-block;
    width: 400px;
    height: 1300px;
    margin-top: 60px;
    border-radius: 20px;
    padding: 20px;
    color:#eedfd3;
    background-color: #454545;
}

main img{
    display: inline-block;
    height: 430px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px
}

.colors{
    font-family: 'Sarala', sans-serif;
    color: #454545;
}

.aqua-blue{
    display: inline-block;
    width: 400px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #b1d1d3;
    color: #454545;
    border-radius: 15px;
}

.teal{
    display: inline-block;
    width: 400px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    color: #454545;
    border-radius: 15px;
}

.tan{
    display: inline-block;
    width: 400px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #eedfd3;
    color: #454545;
    border-radius: 15px;
}

.brown{
    display: inline-block;
    width: 400px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #785964;
    color: #eedfd3;
    border-radius: 15px;
}

.dark-brown{
    display: inline-block;
    width: 400px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #454545;
    color: #eedfd3;
    border-radius: 15px;
}

.font-1{
    display: inline-block;
    width: 400px;
    height: 180px;
    padding: 20px;
    margin-top: 30px;
    color: #454545;
    background-color: #eedfd3;
}

.font-2{
    display: inline-block;
    width: 400px;
    height: 180px;
    padding: 20px;
    margin-top: 30px;
    color: #454545;
    background-color: #b1d1d3;
}

.font-3{
    display: inline-block;
    width: 400px;
    height: 180px;
    padding: 20px;
    margin-top: 30px;
    color: #eedfd3;
    background-color:#785964
}

