@media only screen and (min-width: 767px) {

    h1, p{
        color: lightcyan;
    }

    header div {
        width:900px; 
        height:600px; 
        text-align: center;
        background-color:rgb(167, 213, 168)
    }

    footer div {
        width:900px; 
        height:100px; 
        background-color:rgb(167, 213, 168)
       
    }

    a, p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow: 1px 1px 3px pink;
        margin-left: 50px;
    }

    li {
        margin-left: 50px;
        font-size: 30px;
    }

    div, img {
        display: flex;
        align-items: center;
        margin-left: 50px;
        margin-top: 50px;
    }

    h1 {
        font-size: 60px;
        margin-left: 400px;
        margin-top: -300px;
    }

    footer p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 40%;
        color: lightcyan
    }

    .copyright, .last-modified {
        margin-left: auto;
        margin-right: auto;
    }

}