@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');

header, footer{
    display: inline-block;
    width: 400px;
    height: 500px;
    background-color: #d3e5e5;
    font-family: 'Figtree', sans-serif;
    font-size: 12px;
}

img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.event, .weather, .join{
    font-family: 'Figtree', sans-serif;
    display: inline-block;
    width: 400px;
    height: 200px;
    background-color: gainsboro;
    margin-top: 30px;
}

.mascot-and-sitename{
    font-family: 'Figtree', sans-serif;
    display: inline-block;
    width: 400px;
    height: 600px;
    background-color: gainsboro;
    margin-top: 30px;
}

.news{
    font-family: 'Figtree', sans-serif;
    display: inline-block;
    width: 400px;
    height: 600px;
    background-color: gainsboro;
    margin-top: 30px;
}

.spotlight1{
    font-family: 'Figtree', sans-serif;
    display: inline-block;
    width: 400px;
    height: 200px;
    background-color: gainsboro;
    margin-top: 30px;
    margin-bottom: 30px;
}

.spotlight2{
    font-family: 'Figtree', sans-serif;
    display: inline-block;
    width: 400px;
    height: 200px;
    background-color: gainsboro;
    margin-bottom: 30px;
}

nav ul li a:hover{
    background-color: whitesmoke;
}

nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{  
    display: block;      
    padding: .8rem 2vw;
    text-decoration: none;
    border-top: 1px solid rgba();
    color: #333
}
