header h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: coral;
    margin: 0 auto;
    width: 800px;

}

main .cards {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightskyblue;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    width: 500px;
}

footer{
    text-align: center;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    margin-top: 25px;
}

body{
    background-color: lightgoldenrodyellow;
}