@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

body {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: inline-grid;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
    grid-template-columns: 85px 1fr;
}

h1,
h2 {
    font-size: 1.25rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h2 {
    width: 100%;
    grid-column: 2/3;
    font-size: .8rem;
    text-align: center;
}

.chamber {
    display: grid;
    font-size: 1rem;
}

header img {
    width: 100px;
}

.top,
.middle,
.bottom {
    display: inline-grid;
    grid-gap: 30px;
}

footer p {
    font-family: 'Alamrai', sans-serif;
}

p {
    font-family: 'Hind Siliguri', sans-serif;
}

.top,
.join {
    padding: 20px;
}

.events,
.weather,
.join,
.sponsors {
    background-color: #FF7E30;
}

.join {
    margin-bottom: 20px;
    height: 300px;
    width: 350px;
}

.events {
    height: 150px;
    width: 250px;
    padding: 20px;
}

.weather {
    width: 250px;
    height: 300px;
    padding: 20px;
}

#menu {
    border: 1px solid;
    padding: 3px 7px 6px;
    position: absolute;
    top: 1.45rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

#mode{
    position: absolute;
    top: 4.5rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

nav {
    margin: auto;
    max-width: 350px;
}

nav ul {
    flex-direction: column;
    list-style: none;
    background-color: #FF7E30;
    color: #1f1f1f;
}

nav ul li {
    display: none;
}

nav ul li a {
    display: block;
    padding: 1rem;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    text-decoration: none;
    color: black
}

nav li a:hover {
    color: black;
    font-weight: 700;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.sponsors {
    display: inline-grid;
    grid-gap: 20px;
    padding: 20px;
}

.sponsor1,
.sponsor2 {
    height: 120px;
    width: 237px;
    padding: 10px;
    background-color: #cbcbcb;
}

.sponsor3 {
    display: none;
}