@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

body {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: inline-grid;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
    grid-template-columns: 85px 1fr;
}

h1,
h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h2 {
    width: 100%;
    grid-column: 2/3;
    font-size: .9rem;
    text-align: center;
}

.chamber {
    display: grid;
    font-size: 1.25rem;
}

header img {
    width: 100px;
}

.top,
.middle,
.bottom {
    display: inline-grid;
    grid-gap: 30px;
}

footer p {
    font-family: 'Alamrai', sans-serif;
}

p {
    font-family: 'Hind Siliguri', sans-serif;
}

.top,
.join {
    padding: 20px;
}

.events,
.weather,
.join,
.sponsors {
    background-color: #FF7E30;
}

.join {
    margin-bottom: 20px;
    height: 300px;
    width: 350px;
}

.events {
    height: 150px;
    width: 250px;
    padding: 20px;
}

.weather {
    width: 250px;
    height: 300px;
    padding: 20px;
}

.sponsors {
    display: inline-grid;
    grid-gap: 20px;
    padding: 20px;
}

.sponsor1,
.sponsor2 {
    height: 120px;
    width: 237px;
    padding: 10px;
    background-color: #cbcbcb;
}

.sponsor3 {
    display: none;
}