@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

@media screen and (min-width: 1000px) {

    body {
        text-align: center;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        display: inline-grid;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    h1,
    h2,
    h3 {
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .top,
    .bottom {
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    header img {
        width: 300px;
    }

    p, form label, .submitBtn, .backBtn, .sponsors a {
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    form textarea, form input, select {
        padding: 10px;
        width: 250px;
    }

    form label {
        display: block;
        padding-top: 1.5rem;
        width: 100%;
        padding: 10px;
        max-width: 10rem;
        margin: auto;
    }

    form fieldset{
        border: none;
    }

    .submitBtn, .backBtn {
        display: block;
        width: 8rem;
        margin: auto;
        border-radius: 1rem;
        margin-top: 20px;
        padding: 6px;
        background-color: #cbcbcb;
    }

    .submitBtn:active, .joinBtn:active{
        background-color: #979797;
    }

    .events,
    .no-events,
    .weather,
    .sponsors,
    .placeinfo,
    .datetime,
    .timesvisit,
    .commu-events,
    nav{
        background-color: #FF7E30;
        border: solid;
    }

    #mode{
        background-color: #cbcbcb;
        padding: 5px;
        border: solid;
    }

    .commu-events{
        padding: 30px;
        max-width: 835px;
        height: 300px;
        margin: auto;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .commu-events ul{
        list-style-type: none;
    }
    

    .datetime,
    .timesvisit,
    .placeinfo {
        width: 300px;
        height: 200px;
        padding: 20px;
    }

    .placeinfo,
    .datetime,
    .timesvisit {
        margin: auto;
    }

    .events,
    .weather {
        list-style-type: none;
        height: 150px;
    }

    .weather ul, .commu-events ul{
        list-style-type: none;
    }

    .join {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .joinBtn {
        position: absolute;
        transform: translate(50px, -175px);
        padding: 15px;
        border-radius: 1rem;
        font-size: 1.5rem;
        background-color: #cbcbcb;
        font-family: 'Plus Jakarta Sans', sans-serif;
        border: solid;
        text-decoration: none;
        color: black
    }

    .join img {
        width: 830px;
    }

    .events, .no-events, .weather{
        width: 400px;
        height: 420px;
    }

    nav {
        padding: 2rem;
        max-width: 100%;
        margin: auto;
    }

    nav ul {
        font-size: 1.25em;
    }

    nav ul li {
        display: inline-block;
        width: 225px;
    }

    nav a {
        padding: 1rem;
        align-items: center;
        justify-content: center;
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: rgb(0, 0, 0);
    }
    
    .active {
        color: blue;
    }

    #menu {
        display: none;
    }

    #mode {
        position: absolute;
        top: 1rem;
        right: 4rem;
        font-size: 3rem;
        cursor: pointer;
    }

    nav a:hover {
        border: 3px solid;
    }

    .center {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }

    .center p {
        padding: 10px;
    }

    .center img:hover {
        width: 600px;
        height: 450px;
    }

    .left,
    .center {
        grid-gap: 20px;
    }

    .no-events {
        padding: 20px;
    }

    .pictures, .pictures p {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-template-rows: 1fr auto 1fr;
        align-items: center;
        justify-content: center;
    }

    .grid article {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #cbcbcb;
        padding: 30px;
        width: 1200px;
        margin: auto;
    }

    .grid section {
        padding: 20px;
    }

    .grid section a {
        font-family: 'Plus Jakarta Sans', sans-serif;
        padding-top: 20px;
    }

    .menu button {
        padding: 10px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        margin-bottom: 20px;
    }

    .center, .left {
        display: inline-flex;
    }

    .demographics {
        display: inline-block;
        background-color: #FF7E30;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border: solid;
    }

    .dis-header {
        margin: 30px;
    }

    .upsouthmpt,
    .lowsouthmpt,
    .northmpt {
        height: 120px;
        width: 300px;
        background-color: #cbcbcb;
        padding: 20px;
        border: solid;
    }

    .sponsors {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .sponsors img {
        width: 100px;
    }

    .sponsor1,
    .sponsor2,
    .sponsor3 {
        height: 275px;
        width: 300px;
        background-color: #cbcbcb;
        border: solid;
    }

}