@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

@media screen and (min-width: 1050px) {

    body{
        text-align: center;
    }

    header{
        font-family: 'Plus Jakarta Sans', sans-serif;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: auto;
        height: 300px;
        max-width: 900px;
    }

    .middle, .bottom{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header img{
        width: 300px;
    }

    .top, .bottom, footer{
        font-family: 'Alamrai', sans-serif;
    }

    .middle{
        font-family: 'Hind Siliguri', sans-serif;
    }

    .top, .join{
        padding: 20px;
    }

    .events, .weather, .join, .sponsors{
        background-color: #FF7E30;
    }

    .events, .weather{
        height: 150px;
    }

    .join{
        margin-bottom: 20px;
        height: 250px;
        width: 830px;
    }

    .events{
        margin-right: 10px;
        width: 170px;
    }

    .weather{
        margin-left: 10px;
        width: 600px;
    }

    .sponsors {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .sponsor1, .sponsor2 {
        height: 120px;
        width: 215px;
        margin-right: 10px;
        margin-left: 10px;
        background-color: #cbcbcb;
    }

    .sponsor3{
        height: 120px;
        width: 215px;
        display: flex;
        justify-content: center;
    }
}