@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

@media screen and (min-width: 1050px) {

    body{
        text-align: center;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header{
        display: inline-grid;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    h1, h2{
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .middle, .bottom{
        display: grid;
        align-items: center;
        justify-content: center;
    }

    header img{
        width: 300px;
    }

    footer p {
        font-family: 'Alamrai', sans-serif;
    }

    p {
        font-family: 'Hind Siliguri', sans-serif;
    }

    .top, .join{
        padding: 20px;
    }

    .events, .weather, .join, .sponsors{
        background-color: #FF7E30;
    }

    .events, .weather{
        height: 150px;
    }

    .join{
        margin-bottom: 20px;
        height: 250px;
        width: 830px;
    }

    .events{
        width: 200px;
    }

    .weather{
        width: 600px;
    }

    .sponsors {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .sponsor1, .sponsor2 {
        height: 120px;
        width: 260px;
        background-color: #cbcbcb;
    }

    .sponsor3{
        height: 120px;
        width: 230px;
        display: flex;
        justify-content: center;
    }
}