@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

@media screen and (min-width: 650px){

    body{
        text-align: center;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        display: inline-grid;
        column-gap: 20px;
        align-items: center;
        justify-content: center;
        grid-template-columns: 45% 1fr;
    }

    h1, h2{
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    h2{
        grid-column: 1/3;
    }

    .chamber {
        display: grid;
        font-size: 1.25rem;
    }

    header img{
        width: 300px;
    }

    .middle, .bottom{
        display: inline-grid;
        align-items: center;
    }

    footer p{
        font-family: 'Alamrai', sans-serif;
    }

    p {
        font-family: 'Hind Siliguri', sans-serif;
    }

    .top, .join{
        padding: 20px;
    }

    .events, .weather, .join, .sponsors{
        background-color: #FF7E30;
    }

    .events, .weather{
        display: inline-grid;
        height: 150px;
    }

    .join{
        margin-bottom: 20px;
        height: 250px;
        width: 515px;
    }

    .events{
        grid-column: 1/3;
        width: 175px;
    }

    .weather{
        grid-column: 3/4;
        width: 305px;
    }

    .sponsors {
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .sponsor1, .sponsor2, .sponsor3 {
        height: 100px;
        width: 455px;
        background-color: #cbcbcb;
        padding: 20px;
    }

    .sponsor3{
        display: inline-grid;
        justify-content: center;
    }

}