@media only screen and (min-width: 600px) and (max-width: 999px)
{
    .header-box {
        display: inline-block;
        width: 850px;
        height: 120px;
        text-align: center;
        background-color: rgb(19, 136, 19);
    }

    footer div{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: white;
    }

    main div{
        color: black;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .box-1 p, .box-2 p, .box-3 p{
        display: grid;
        grid-template-rows: 50%;
    }

    .box-1, .box-2{
        display: inline-block;
        margin-bottom: 100px;
        margin-left: 50px;
        background-color: rgba(128, 128, 128, 0.246);
        border: 2px rgb(19, 136, 19);
        padding: 20px;
        border-radius: 20px;
        width: 375px;
        height: 900px;
    }

    li {
        margin-left: 50px;
        font-size: 30px;
    }

    .box-3{
        display: inline-block;
        margin-top: 100px;
        margin-bottom: 100px;
        background-color: rgba(128, 128, 128, 0.246);
        padding: 20px;
        border: 2px rgb(19, 136, 19);
        border-radius: 20px;
    }

    .box-1 img, .box-2 img, .box-3 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-box {
        display: inline-block;
        width: 850px;
        height: 120px;
        text-align: center;
        background-color: rgb(19, 136, 19);
    }
}

