@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

body, main{
    font-family: 'Archivo', sans-serif;
}

main{
    align-items: center;
    position: absolute;
    top: 80%;
    left: 45%;
}

.navcard{
    position: absolute;
    left: 45%;
    background-color: rgb(254, 254, 185);
    padding: 10px;
}

h1{
    position: relative;
    left: 20%;
}

header{
    position: absolute;
    align-items: center;
    left: 45%;
    top: 15%;
}

footer{
    position: absolute;
    align-items: center;
    top: 130%;
    left: 40%;
}

.card{
    background-color: rgb(185, 185, 255);
    padding: 10px;
}