@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

body,
main {
    font-family: 'Archivo', sans-serif;
}

h1,
h2 {
    position: relative;
    text-align: center;
}

.navcard {
    position: relative;
    text-align: center;
    background-color: rgb(254, 254, 185);
    padding: 10px;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

footer {
    position: relative;
    text-align: center;
}

.card {
    background-color: rgb(185, 185, 255);
    padding: 10px;
}