@media only screen and (min-width: 800px)
{
    h1, p{
        color: lightcyan;
    }
    
    header div {
        width:900px; 
        height:300px; 
        text-align: center;
        background-color:rgb(113, 51, 113)
    }
    
    footer div {
        width: 900px; 
        height:100px;
        text-align: center;
        background-color:rgb(113, 51, 113)
    }
    
    ul{
        font-size: 20px;
    }

    h1, a, p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    img{
        height: 450px;
        width: 300px;
    }
    
    h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow: 1px 1px 3px pink;
    }
    
    div, img {
        display: flex;
        margin-left: 50px;
        margin-top: 50px;
    }
    
    .name h1 {
        font-size: 60px;
        padding-left: 300px;
    }
    
    footer p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: lightcyan
    }
    
}