body {
    font-family: 'Inter Tight', sans-serif;
    background-color: rgb(215, 245, 255);
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(255, 253, 160);
    padding: 30px;
    width: 350px;
    display: inline-grid;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

.socialmedia-links img {
    float: left;
    width: 40px;
    padding: 5px;
    transform: translate(-10px, -25px);
}

header img {
    width: 300px;
    margin: auto;
}

header {
    background-color: rgb(255, 253, 160);
    padding: 20px;
}

.middle,
.bottom {
    display: grid;
    background-color: rgb(255, 253, 160);
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    width: 300px;
}

.middle {
    margin: auto;
    margin-top: 20px;
}

.rentalsBtn,
.contactBtn {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    background-color: #bbfaa0;
    border-radius: 1rem;
    border: solid;
    border-width: 2px;
}

.reserveBtn {
    position: absolute;
    transform: translate(-225px, 280px);
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    background-color: #bbfaa0;
    border-radius: 2rem;
    border: solid;
    border-width: 2px;
    font-size: 1.5rem;
}

#menu {
    border: 1px solid;
    padding: 3px 7px 6px;
    position: absolute;
    top: 1.45rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

nav .navigation {
    font-size: 1.25em;
    background-color: #bbfaa0;
    margin: auto;
}

nav li a:hover {
    color: black;
    font-weight: 700;
}

nav {
    padding: 2rem;
    max-width: 100%;
}

nav ul li{
    width: 200px;
    display: none;
}

nav ul {
    font-size: 1.25em;
}

nav a {
    padding: 1.25rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

footer {
    padding: 10px;
}

table {
    width: 200px;
    margin: 10px auto;
}

.pricingtitle {
    padding: 10px;
}

th {
    width: 500px;
}

td {
    width: 300px;
}

caption {
    padding: 10px;
    caption-side: bottom;
    font: .85rem;
    color: var(--back);
}

tr:first-child th,
.highlight {
    background-color: var(--back);
    color: var(--forelight);
}

:root {
    --back: #bbfaa0;
    --back2: rgb(175, 171, 225);
    --zebra: hsl(174, 22%, 67%);
    --forelight: rgb(0, 0, 0);
    --borderlight: rgb(207, 207, 207);
}

tbody tr:nth-child(even) {
    background-color: var(--zebra);
}

form textarea,
form input,
select {
    padding: 5px;
    width: 180px;
}

form label {
    display: block;
    padding-top: 1.5rem;
    width: 30%;
    padding: 10px;
    max-width: 7rem;
    margin: auto;
}

form .fname, .lname, .email, .number, .date {
    display: block;
    text-align: left;
}

form fieldset {
    border: none;
}

.submitBtn {
    width: 120px;
    font-size: 1rem;
    border-radius: 20px;
    background-color: #bbfaa0;
}

.submitBtn, form textarea, form input {
    font-family: 'Inter Tight', sans-serif;
}
.reserveBtn:active,
.submitBtn:active,
.contactBtn:active,
.rentalsBtn:active {
    background-color: #8ebc7b;
}

.rentalAgreements {
    background-color: hsl(174, 22%, 67%);
    padding: 50px;
    width: 300px;
    margin: auto;
}

.rentalAgreements li {
    text-align: left;
}

.scooterpics {
    background-color: rgb(175, 171, 225);
    padding: 20px;
}

.scooterpics p {
    padding: 10px;
    display: grid;
}

.contactinfo {
    background-color: rgb(175, 171, 225);
    padding: 30px;
    width: 375px;  
    margin: auto;
}

.contactinfo, .rentalAgreements {
    margin-top: 20px;
}

.maps {
    background-color: hsl(174, 22%, 67%);
    width: 375px;
    margin: auto;
    padding: 15px;
    margin-top: 20px;
}

.maps p {
    padding: 10px;
}

.maps iframe {
    width: 100%;
    height: 300px;
}