@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Plus+Jakarta+Sans&display=swap');

@media screen and (min-width: 1200px) {
    body {
        font-family: 'Inter Tight', sans-serif;
        background-color: rgb(215, 245, 255);
        text-align: center;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .socialmedia-links img {
        float: left;
        width: 50px;
        padding: 5px;
        transform: translate(-25px, 10px);
    }

    header img {
        width: 300px;
    }

    header {
        background-color: rgb(255, 253, 160);
        padding: 20px;
        width: 1200px;
        display: inline-grid;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
    }

    h1,
    h2 {
        grid-column: right;
        margin: auto;
    }

    nav {
        padding: 2rem;
        width: 100%;
        background-color: #bbfaa0;
    }

    nav ul li {
        display: inline-block;
        width: 225px;
    }

    nav ul {
        font-size: 1.25em;
    }

    nav a {
        padding: 1rem;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

    nav .navigation a:hover {
        border: 3px solid;
        font-weight: 700;
    }

    .middle,
    .bottom {
        display: inline-block;
        background-color: rgb(255, 253, 160);
        padding: 20px;
        margin-top: 30px;
        width: 100%;
    }

    .weather {
        float: left;
        width: 50%;
    }

    .rentals {
        float: right;
        width: 50%;
    }

    .active {
        color: #69845d;
    }

    .rentals p {
        width: 500px;
        margin: auto;
    }

    .rentalsBtn,
    .contactBtn,
    .backBtn {
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 10px;
        background-color: #bbfaa0;
        border-radius: 1rem;
        border: solid;
        border-width: 2px;
    }

    .reserveBtn {
        position: absolute;
        transform: translate(-700px, 600px);
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 40px;
        background-color: #bbfaa0;
        border-radius: 2rem;
        border: solid;
        border-width: 2px;
        font-size: 2rem;
    }

    .reserveBtn:active,
    .submitBtn:active,
    .contactBtn:active,
    .rentalsBtn:active {
        background-color: #8ebc7b;
    }

    #menu {
        display: none;
    }

    footer {
        padding: 10px;
    }

    table {
        width: 1000px;
        margin: 10px auto;
    }

    th {
        width: 500px;
    }

    td {
        width: 300px;
        padding: 5px;
    }

    .pricingtitle {
        padding: 10px;
    }

    caption {
        padding: 10px;
        caption-side: bottom;
        font: .85rem;
        color: var(--back);
    }

    tr:first-child th,
    .highlight {
        background-color: var(--back);
        color: var(--forelight);
    }

    :root {
        --back: #bbfaa0;
        --back2: rgb(175, 171, 225);
        --zebra: hsl(174, 22%, 67%);
        --forelight: rgb(0, 0, 0);
        --borderlight: rgb(207, 207, 207);
    }

    tbody tr:nth-child(even) {
        background-color: var(--zebra);
    }
   
    form textarea,
    form input,
    select {
        padding: 8px;
        width: 225px;
    }

    form label {
        display: block;
        padding-top: 1.5rem;
        padding: 10px;
        max-width: 8rem;
        margin: auto;
    }

    form .fname, .lname, .email, .number, .date {
        display: block;
        text-align: left;
    }

    form fieldset {
        border: none;
    }

    .submitBtn, .backBtn, form textarea, form input {
        font-family: 'Inter Tight', sans-serif;
    }

    .submitBtn, .backBtn {
        width: 120px;
        font-size: 1rem;
        border-radius: 20px;
        background-color: #bbfaa0;
    }

    .rentalAgreements {
        background-color: hsl(174, 22%, 67%);
        padding: 50px;
        width: 800px;
        margin: auto;
    }

    .rentalAgreements li {
        text-align: left;
    }

    .scooterpics {
        background-color: rgb(175, 171, 225);
        padding: 20px;
    }

    .scooterpics picture {
        display: inline-grid;
    }

    .scooterpics p {
        padding: 10px;
        display: grid;
    }

    .contactinfo {
        background-color: rgb(175, 171, 225);
        padding: 30px;
        width: 700px;
        margin: auto;
        margin-top: 20px;
    }

    .contactinfo, .rentalAgreements {
        margin-top: 20px;
    }

    .maps {
        background-color: hsl(174, 22%, 67%);
        width: 700px;
        margin: auto;
        padding: 15px;
        margin-top: 20px;
    }

    .maps p {
        padding: 10px;
    }
}